body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: #0f2027;
  color: white;
}


header {
  position: relative;
  height: 250px;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

header h1,
header p {
  position: relative;
  z-index: 2;
}

.symbol {
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  animation: floatUpDiagonal linear infinite;
}

@keyframes floatUpDiagonal {
  0% {
    transform: translateY(100%) translateX(0) rotate(0deg);
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-120%) translateX(-50px) rotate(360deg);
    opacity: 0;
  }
}
.container {
  display: grid;
  place-items: center;
}

.projetos img{
   width: 500px;
}



/* Se quiser deixar as imagens e seções com um pouco mais de destaque visual */
section {
  width: 900px;
  /*  padding: 2rem;*/
  /*  background: #1c1c1c;*/
}

section h2 {
  color: #00bcd4;
}

ul li {
  margin-bottom: 0.5rem;
}

footer {
  margin: 10px;
  text-align: center;
  padding: 1rem;
  background-color: #111;
  color: #aaa;
}
